@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure consistent popup width across browsers */
body {
  min-width: 450px;
  max-width: 450px;
  width: 450px !important;
}

@layer base {
  :root {
    --font-sans: 'Geist', ui-sans-serif, system-ui;
    --font-mono: 'Geist Mono', ui-monospace, monospace;
    
    --background: 120 100% 99.41%;
    --foreground: 200 4.76% 24.71%;
    --muted: 132 33.3% 97.1%;
    --muted-foreground: 97 6% 57%;
    --popover: 132 33.33% 97.06%;
    --popover-foreground: 234 10% 27%;
    --card: 132 33.33% 97.06%;
    --card-foreground: 240 3% 7%;
    --border: 210 15% 93%;
    --input: 130 9.86% 86.35%;
    --primary: 131.74 29.11% 30.98%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97.6 32.47% 45.29%;
    --secondary-foreground: 132 33.33% 97.06%;
    --accent: 96.92 26.53% 90.39%;
    --accent-foreground: 210 25% 23%;
    --destructive: 8 93% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 131.74 29.11% 30.98%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 2.01% 7.54%;
    --foreground: 120 100% 99.41%;
    --muted: 240 2.47% 13.51%;
    --muted-foreground: 132 33.33% 97.06%;
    --popover: 0 0% 10.59%;
    --popover-foreground: 120 100% 99.41%;
    --card: 200 0% 10.77%;
    --card-foreground: 120 100% 99.41%;
    --border: 210 0% 13.03%;
    --input: 0 0.54% 13.52%;
    --primary: 131.74 29.11% 30.98%;
    --primary-foreground: 0 0% 100%;
    --secondary: 97.6 32.47% 45.29%;
    --secondary-foreground: 120 100% 99.41%;
    --accent: 240 1.45% 13.53%;
    --accent-foreground: 240 0% 93.85%;
    --destructive: 359.18 58.76% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 132.27 28.95% 29.8%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    @apply font-sans;
  }
  
  body {
    @apply bg-background text-foreground font-sans;
  }
} 