@import "tailwindcss";

@config '../tailwind.config.ts';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-serif: var(--font-garamond-serif);
    --font-logo: var(--font-logo);
}

@plugin "@tailwindcss/typography";

@utility perspective {
    perspective: 1000px;
}

@utility preserve-3d {
    transform-style: preserve-3d;
}

@utility backface-hidden {
    backface-visibility: hidden;
}

@utility rotate-y-180 {
    transform: rotateY(180deg);
}

@utility transition-transform-medium {
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@layer utilities {
    @keyframes shimmer {
        0% {
            background-position: 200% 50%;
        }

        100% {
            background-position: -200% 50%;
        }
    }
}


@layer base {
    :root {
        --background: 120 100% 99.41%;
        --foreground: 200 4.76% 24.71%;
        --muted: 132 33.33% 97.06%;
        --muted-foreground: 97, 6%, 57%;
        --popover: 132 33.33% 97.06%;
        --popover-foreground: 234 10% 27%;
        --card: 132 33.33% 97.06%;
        --card-foreground: 240, 3%, 7%;
        --border: 210 15% 93%;
        --input: 130 9.86% 86.35%;
        --primary: 131.74 29.11% 30.98%;
        --primary-foreground: 0 0% 100%;
        --secondary: 97.6 32.47% 45.29%;
        --secondary-foreground: 132 33.33% 97.06%;
        --accent: 96.92 26.53% 90.39%;
        --accent-foreground: 210 25% 23%;
        --destructive: 8 93% 44%;
        --destructive-foreground: 0 0% 100%;
        --ring: 131.74 29.11% 30.98%;
        --chart-1: 131.74 29.11% 30.98%;
        --chart-2: 97.6 32.47% 45.29%;
        --chart-3: 96.92 26.53% 90.39%;
        --chart-4: 97.6 32.47% 48.29%;
        --chart-5: 131.74 32.11% 30.98%;
        --radius: 0.5rem;

        --sidebar: var(--background);
        --sidebar-foreground: var(--foreground);
        --sidebar-primary: var(--primary);
        --sidebar-primary-foreground: var(--primary-foreground);
        --sidebar-accent: var(--accent);
        --sidebar-accent-foreground: var(--accent-foreground);
        --sidebar-border: var(--border);
        --sidebar-ring: var(--ring);
    }

    .dark {
        --background: 240 2.01% 7.54%;
        --foreground: 120 100% 99.41%;
        --muted: 240 2.47% 13.51%;
        --muted-foreground: 132 33.33% 97.06%;
        --popover: 0 0% 10.59%;
        --popover-foreground: 120 100% 99.41%;
        --card: 200 0% 10.77%;
        --card-foreground: 120 100% 99.41%;
        --border: 210 0% 13.03%;
        --input: 0 0.54% 13.52%;
        --primary: 131.74 29.11% 30.98%;
        --primary-foreground: 0 0% 100%;
        --secondary: 97.6 32.47% 45.29%;
        --secondary-foreground: 120 100% 99.41%;
        --accent: 240 1.45% 13.53%;
        --accent-foreground: 240 0% 93.85%;
        --destructive: 359.18 58.76% 46%;
        --destructive-foreground: 0 0% 100%;
        --ring: 132.27 28.95% 29.8%;
        --chart-1: 131.74 29.11% 30.98%;
        --chart-2: 97.6 32.47% 45.29%;
        --chart-3: 240 1.45% 13.53%;
        --chart-4: 97.6 32.47% 48.29%;
        --chart-5: 131.74 32.11% 30.98%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    button {
        cursor: pointer;
    }

    #epub-container {
        font-size: 1.7rem;
    }

    #epub-container p {
        padding: 0.3rem;
    }

    .highlight-yellow {
        background-color: yellow;
        cursor: pointer;
    }

    .highlight-blue {
        background-color: lightblue;
        cursor: pointer;
    }

    .highlight-green {
        background-color: greenyellow;
        cursor: pointer;
    }

    h1,
    h2,
    h3 {
        @apply text-[#111112];
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.perspective-1000 {
    perspective: 1000px;
}

/* Toast styles */
.toast {
    @apply rounded-lg shadow-lg;
}

.toast-success {
    @apply border-primary/20;
}

.toast-error {
    @apply border-destructive/20;
}

.toast-loading {
    @apply border-accent/20;
}