/* Style the scrollbar */
.PdfContainer {
    position: absolute;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

/* 
.PdfContainer::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.PdfContainer::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 5px;
}

.PdfContainer::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
} */

.PdfHighlighter__tip-container {
    z-index: 6;
    position: absolute;
}

.popover-animation {
    animation: fadeInSlide 0.3s ease-out forwards;
}

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Optional: Add exit animation if using React transition group */
.popover-animation-exit {
    opacity: 1;
    transform: translateY(0);
}

.popover-animation-exit-active {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.1s ease-in;
}

.PdfHighlighter--disable-selection {
    user-select: none;
}
